<!-- <div class="side">
  <div class="row gx-2">
    <div class="col-1">
      <span style="color: white; font-size: 2.1rem; z-index: 10;" class="material-symbols-outlined"> home </span>
    </div>
    <div style="color: white; padding-top: 6px; margin-left: 8px; ;" class="col-1">
        <h2>Home</h2>
    </div>
  </div>
  <div class="row gx-2">
    <div class="col-1">
      <span style="color: white; font-size: 2.1rem; z-index: 10;" class="material-symbols-outlined"> dashboard</span>
    </div>
    <div style="color: white; padding-top: 1px; margin-left: 8px;" class="col-1">
        <h2>Dashboard</h2>
    </div>
  </div>
  <div class="row gx-2">
    <div class="col-1">
      <span style="color: white; font-size: 2.1rem;z-index: 10;" class="material-symbols-outlined"> category</span>
    </div>
    <div style="color: white; padding-top: 1px; margin-left: 8px;" class="col-1">
        <h2>Categories</h2>
    </div>
  </div>
  <div class="row gx-2">
    <div class="col-1">
      <span style="color: white; font-size: 2.1rem;z-index:10;" class="material-symbols-outlined"> assignment</span>
    </div>
    <div style="color: white; padding-top: 1px; margin-left: 8px;" class="col-sm-1">
        <h2>Quizes</h2>
    </div>
  </div>
</div> -->
<div class="side-nav">
  <div class="fildes">
    <div
      class="text"
      style="color: white; font-size: 1.3rem"
    >
      <span
        class="material-symbols-outlined p-1"
        style="color: white; font-size: 2.1rem; position:relative; top: 5px;"
      >
        home </span
      >Home
    </div>
  </div>
  <div class="fildes">
    <div class="text" style="color: white; font-size: 1.3rem">
      <span
        class="material-symbols-outlined p-1"
        style="color: white; font-size: 2.1rem;position:relative; top: 5px;"
      >
        dashboard </span
      >Dashboard
    </div>
  </div>
  <div class="fildes">
    <div class="text" style="color: white; font-size: 1.3rem" routerLink="../viewCategory">
      <span
        class="material-symbols-outlined p-1"
        style="color: white; font-size: 2.1rem;position:relative; top: 5px;"
      >
        category </span
      >Categories
    </div>
  </div>
  <div
    class="fildes"
  >
    <div class="text" style="color: white; font-size: 1.3rem" routerLink="../Quizes">
      <span
        class="material-symbols-outlined p-1"
        style="color: white; font-size: 2.1rem;position:relative; top: 5px;"
      >
        assignment </span
      >Quiz
    </div>
  </div>


  

</div>
